.home-sec {
  display: flex;
  height: 90vh;
  padding: 0 12% 0 12%;
  font-family: "Roboto", sans-serif;
  align-items: center;
  justify-content: space-between;
  background-color: #ede9e5e3;
}
.home-sec .left {
  width: 50%;
}
.home-sec .right {
  text-align: center;
  width: 40%;
}
.home-sec h3 {
  font-size: 33px;
}
.home-sec .name {
  font-size: 54px;
}
.home-sec .name span {
  color: #b43d3d;
}
.home-sec .title {
  font-size: 42px;
}
.home-sec img {
  height: 59vh;
  width: 82%;
  border-radius: 50%;
}
.home-sec .left p {
  margin: 18px 0;
  line-height: 25px;
}
.home-sec .home-btn {
  background: black;
  width: 132px;
  height: 5vh;
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
  color: white;
}
